h1 {
    color:red;
    }
    .dq1 {
    background-color: blue;
    width: 100px;
    margin-bottom: 100px;
    color: white;
    }
    span {
    color:red;
    }
    h2 {
    background-color:green;
    color: #fff;
    padding: 5px;
    }
    .ser1 {
    color: #fff;
    background:green;
    padding: 30px;
    }
    .segey {
    color:white;
    background-color:green;
    padding-left: 10px;
    padding-top: 2px;
    }
    .ser7 {
    color: black;
    padding-left:100px;
    }
    a {
    color: blue;
    }
    .ser10 {
        width: 200px;
    }
    li {
      border: 1px solid #000000;
      font-size: 25px;
    }
